.root { -fx-focus-color: lightgray; }
.root { -fx-faint-focus-color: transparent; }
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:  #f49542;
}
.titled-pane > *.content {
    -fx-border-color: transparent;
}
.accordion > *.content {
	-fx-box-border: transparent;
}
.slider
{
	-fx-color:  #4a9be8;
	-fx-control-inner-background:  #9e9e9e
}

#cast-button-disabled {
    -fx-image: url("main/ic_cast_blue_24dp.png");
}

#cast-button-disabled:hover {
    -fx-image: url("main/ic_cast_grey_24dp.png");
}

#cast-button-enabled {
    -fx-image: url("main/ic_cast_connected_blue_24dp.png");
}

#cast-button-enabled:hover {
    -fx-image: url("main/ic_cast_connected_grey_24dp.png");
}